JWT_SECRET=secret
PORT=3000
DATABASE_MONGO_HOST=dhte-mongodb:27017
DATABASE_MONGO_USERNAME=user
DATABASE_MONGO_PASSWORD=password
SERVICE_NAME=larva-course
ACCESS_KEY_ID=string
SECRET_ACCESS_KEY=string
NODE_ENV="development"
